.browseContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: flex-end;
  margin-right: 50px;
  margin-left: 10px;
}

.searchContainer {
  width: auto;
  height: 50px;
  font-size: 1.4em;
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(87, 87, 87);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all .2s ease-in-out;
}

.searchContainer:active, 
.searchContainer:focus-within {
  border: 2px solid white;
  transition: all .2s ease-in-out;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 100%;
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border: 0px transparent;
  box-sizing: border-box;
  background-color: black;
  outline: none;
  color: white;
  transition: ease 0.3s all;
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  width: auto;
}

.progress {
  align-self: center; 
  width: 100%; 
  margin-right: 10px; 
  border: 1px solid #222; 
  height: 10px; 
  border-radius: 10px; 
  overflow: hidden;
}

.button {
  width: auto;
  background-color: black;
  height: 100%;
  aspect-ratio: 1 / 1;
  font-size: 1.5em;
  border: 1px transparent;
  border-left: 1px gray solid;
  color: white;
  z-index: 10;
}

.button:hover {
  cursor: pointer;
  background-color: darkgray;
}

.button:active {
  background-color: gray;
}

.tab {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 10px;
}

.tabButton {
  border: 0px transparent;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-size: 1.5em;
  margin-left: 30px;
  cursor: pointer;
  font-size: 2em;
  min-width: 50px;
}

.tabButton:hover {
  color: gray;
}

.tabButton:active {
  transform: scale(0.9);
}

@media screen and (max-width: 800px) {

  .search:active,
  .search:focus-within,
  .search,
  .searchContainer {
    width: 100%;
  }

  .container {
    margin-right: 0px;
  }

  .button {
    margin-right: 0px;
  }

  .tabButton {
    margin-left: 5px;
  }

  .progress {
    display: none;
  }
}