.container {
  padding: 30px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
  color: white;
  font-weight: bolder;
  font-family: sans-serif;
  text-shadow: 1px 3px 1px 1px black;
  text-align: center;
}

.background {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(40px) brightness(40%);
  -webkit-filter: blur(40px) brightness(40%);
}

.cover {
  z-index: 1;
  height: 80%;
  width: auto;
  aspect-ratio: 1 / 1;
}

.title {
  margin-top: 5px;
  z-index: 1;
  font-size: 8vh;
}

.artists {
  z-index: 1;
  font-size: 5vh;
}

.link {
  z-index: 1;
  font-size: 3vh;
}
