.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.rowContainer {
  background-color: #222;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.smallContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 55px;
  width: 100%;
  padding: 5px;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
}

.smallContainer:hover {
  background-color: #333;
}

.title {
  font-size: 1.1em;
  margin-right: 20px;
  width: 30%;
  /* padding-left: 10px;
  border-left: 1px solid gray; */
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.artist {
  font-size: 0.8em;
  color: lightgray;
  right: 0px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  margin-right: 20px;
  width: 50%;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.title:hover,
.artistlink:hover {
  text-decoration: underline;
}

.duration {
  right: 0px;
  text-align: right;
  margin-left: auto;
  margin-right: 10px;
  width: 100px;
  text-wrap: nowrap;
}

.description {
  animation: scrolling-text 5s linear infinite;
}

.cover {
  position: relative;
  height: 100%;
  margin-right: 10px;
  aspect-ratio: 1 / 1;
}

.button {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  font-size: 2em;
  margin-right: 10px;
  background-color: transparent;
  border: 0px transparent;
  transition: 0.2s all ease-in-out;
}

.button:hover {
  color: gray;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}

.rowButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.rowButton {
  border: 0px transparent;
  color: white;
  font-size: 1.5em;
  height: 100%;
  margin-left: 20px;
  padding: 5px;
  background-color: transparent;
  text-align: center;
}

.rowButton:hover {
  color: gray;
  cursor: pointer;
}

.rowButton:active {
  transform: scale(0.9);
}

.rowTitle {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  color: white;
}

.loading {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 10vw;
  color: white;
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 0.9em;
    margin-right: 5px;
    width: 300px;
  }

  .duration {
    display: none;
  }

  .artist {
    margin-left: auto;
    max-width: 50px;
  }
}
