.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 208px;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  color: white;
  margin-left: 50px;
}

.button {
  background-color: rgb(100, 255, 100);
  border: 1px solid black;
  border-radius: 10px;
  height: 1.5em;
  font-size: 1.5em;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 20px;
  color: black;
}
