.container {
  position: fixed;
  top: 20px;
  width: auto;
  height: 50px;
  background-color: rgb(56, 255, 56);
  border-radius: 20px;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  z-index: 999;
  transition: 1s all ease-in-out;
  opacity: 1;
  padding-left: 10px;
  padding-right: 10px;
  animation: toast-animation 5s ease-in-out;
  user-select: none;
}

.message {
  font-size: large;
  text-align: center;
  align-self: center;
  color: black;
}

@keyframes toast-animation {
  0% {
    transform: translateY(-100px);
  }

  5% {
    transform: translateY(0px)
  }

  90% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-100px);
  }
}